
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0.5rem;
  
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  max-width: 800px;
  margin: auto;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  font-size: small;
}

#root, #__next {
  isolation: isolate;
}

hr {
    color: #89BD9E;
}

.my_info {
    display: grid;
    grid-template-columns: repeat(2, auto)
   
}
.name {
    color: #721B92;
    text-shadow: 0.3px 0.3px 0.5px black;
}

.intro {
    display: flex;
    text-align: center;
    margin-top: 1rem;
}
.socials {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    font-size: smaller;
}

.social_link{
    display: grid;
    grid-template-columns: repeat(2, auto);

}

article {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
/*-----------------SKILLS--------------------*/
.skill_group {
    /* padding-left: 0.5rem;
    padding-top: 0.5rem; */
}

.skill_subgroup {
    display: flex;
    gap: 0.5rem;
}
/*-----------------CERTIFICATIONS--------------------*/
.cert_group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* flex-direction: column; */
    /* gap: 2rem; */
    /* width: 100%;
    padding: 0.5rem; */
}

.cert {
    display: inline-flex;
    margin: 0rem 0rem 0rem 0.5rem;
}

.cert_info {
    display: inline-flex;
    align-items: center; 
    margin: 0rem;
}

.cert_info > a {
    font-size: small;
}
/*-----------------EXPERIENCE--------------------*/
.job_details {
    padding: 0.1rem;
    font-size: smaller;
    margin: 0rem;
}

.job_info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}

.job_info > p {
    justify-self: end;
}
.company {
    color: #DE9151;
    justify-self: end;
}

.job_title {
    font-size: medium;
}

/*-----------------EDUCATION--------------------*/
.degree {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0.5rem;
    
}

.degree > h4 { 
    font-weight: normal;
}

.degree > p {
    justify-self: end;
}

/*-----------------REFERENCES--------------------*/
.my_references {
    line-height: 0rem;
    padding-bottom: 5rem;
}
.reference {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 650px) {
    .my_info { 
        display: flex;
        flex-direction: column;
        overflow: hidden;
        margin: auto;
    }

    .personals {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: auto;
    }

    .intro {
        display: flex;
        text-align: center;
        margin-top: 1rem;
    }

    .socials {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
    }

    .cert_group {
        grid-template-columns: 1fr;
    }
    
    .cert_info {
        display: flex;
        align-items: center; 
        margin: 0rem;
    }

    .degree > p {
        justify-self: start;
    }
    
    .my_references {
        line-height: 0rem;
        /* padding-bottom: 5rem; */
    }
    .reference {
        display: flex;
        flex-direction: column;
        /* grid-template-columns: repeat(4, 1fr); */
    }
}